.DS_Store

cpu_profile*.pprof
mem_profile*.pprof
/code/rtkcsm/src/rtkcsm*
/code/rtkcsm/src/*.csv
/code/rtkcsm/src/*.json
*.pdf
__debug_bin*

# Web
/code/rtkcsm/src/web/node_modules
/code/rtkcsm/src/web/dist/
/code/rtkcsm/src/static/*.js
/code/rtkcsm/src/static/*.js.map
!/code/rtkcsm/src/web/package*.json
!/code/rtkcsm/src/web/tsconfig.json

# Data
/data/**/**.json

# Results
/results/figures/*.pdf